<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>

<body>
    <h1>HTML FORM</h1>
    <form action="/submit" method="post">
        <label for="Science">Science:</label>
        <input type="number" id="Science" min="0" max="100" value="0" name="Science">
        <label for="Math">Math:</label>
        <input type="number" id="Math" min="0" max="100" value="0" name="Math">
        <label for="English">English:</label>
        <input type="number" id="English" min="0" max="100" value="0" name="English">
        <label for="History">History:</label>
        <input type="number" id="History" min="0" max="100" value="0" name="History">
        <button type="submit">Submit</button>
    </form>
</body>

</html>